/**
 * Pojo Places Styles
*/

/* = General
-------------------------------------------------*/

.pojo-places {
	.search-wrap {
		position: relative;
		margin-bottom: 15px;
		.search-places {
			border: 1px solid #dddddd;
			color: #AAAAAA;
			width: 100%;
			padding: 10px;
			font-size: 14px;
			line-height: 1em;
			margin-bottom: 15px;
		}
		button.share-location {
			background-color: #FFFFFF;
			border-color: transparent transparent transparent #dddddd;
			border-width: 0 0 0 1px;
			border-style: solid;
			position: absolute;
			right: 1px;
			top: 1px;
			padding: 7px;
			color: #AAAAAA;
			-webkit-transition: all 0.3s ease-in-out; /* Firefox */
			-moz-transition: all 0.3s ease-in-out; /* WebKit */
			-o-transition: all 0.3s ease-in-out; /* Opera */
			transition: all 0.3s ease-in-out; /* Standard */
			&:hover {
				color: #289dcc;
			}
			&:before {
				content: '\f05b';
				font-family: fontawesome;
				font-style: normal;
				font-weight: normal;
				height: 40px;
				font-size: 20px;
				line-height: 1em;
			}
		}
		.places-filter-checkbox {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				display: inline-block;
				padding-left: 15px;
				label {
					line-height: 1em;
					vertical-align: middle;
					cursor: pointer;
				}
				&:first-child {
					padding-left: 0;
				}
			}
		}
		.places-filter-select {
			max-width: 300px;
			display: inline-block;
			min-width: 100px;
		}
	}
	.places-list {
		padding: 0;
		margin: 0;
		list-style: none;
		.place-item {
			margin-top: 15px;
			padding: 15px 0;
			overflow: hidden;
			border-bottom: 1px solid #F3F3F3;
			&:first-child {
				margin-top: 0;
				border-top: 1px solid #F3F3F3;
			}
			.place-thumbnail {
				float: left;
				max-width: 20%;
				padding-right: 15px;
			}
			.place-item-body {
				float: left;
				width: 60%;
				.place-details,
				.extra-details {
					float: left;
					width: 50%;
				}
				.fn {
					margin: 0;
				}
			}
			.label-field {
				font-size: 0.95em;
				font-weight: bold;
			}
			.place-go-out {
				float: right;
				width: 20%;
				text-align: center;
				.goto-icon {
					display: block;
					font-size: 30px;
				}
			}
		}
	}
	.loading {
		text-align: center;
		margin: 0;
		cursor: pointer;
		display: inline-block;
		font-size: 1em;
		line-height: 1em;
		padding: 8px 16px;
		vertical-align: middle;
		&:before {
			content: '\f021';
			display: inline-block;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			margin-right: 5px;
			animation: 2s linear 0s normal none infinite fa-spin;
			-webkit-animation: 2s linear 0s normal none infinite fa-spin;
		}
	}
}


/* = RTL Style
-------------------------------------------------*/

body.rtl {
	.pojo-places {
		.search-wrap {
			button.share-location {
				border-color: transparent transparent transparent #dddddd;
				border-width: 0 0 0 1px;
				right: 1px;
				top: 1px;
			}
			.places-filter-checkbox {
				li {
					padding-left: 15px;
					&:first-child {
						padding-left: 0;
					}
				}
			}
		}
		.places-list {
			.place-item {
				.place-thumbnail {
					float: left;
					padding-right: 15px;
				}
				.place-item-body {
					float: left;
					.place-details,
					.extra-details {
						float: left;
					}
				}
				.place-go-out {
					float: right;
				}
			}
		}
		.loading {
			&:before {
				margin-right: 5px;
			}
		}
	}
}